<div class="detail-container">
    <div class="image-gallery">
        <img id="main-image" src="/static/images/cars/audiA7/1.webp">
    </div>
    <div class="info-panel">
        <p id="car-brand">Marca</p>
        <h1 id="car-name">Nome do Carro</h1>
        <p id="car-description">Descrição.</p>
        <div class="price-section">
            <span id="car-original-price" class="original-price"></span>
            <span id="car-price" class="final-price">R$ 0,00</span>
        </div>
    </div>
</div>