<div class="image-container">
    <img id="imagem" src="" alt="">
    
    <div class="dots-container">
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
</div>
<img id="sale" src="/static/sale.webp" alt="">
<div>
    <h1 id="nome">Insira o nome</h1>
    <p id="marca">Insira a marca</p>
    <div class="price-container">
        <h2 id="preco-original" class="preco-original">R$ 000.000</h2>
        <h2 id="preco" class="preco-final">R$ 000.000</h2>
    </div>
</div>